<% const isProduction = String(env('APP_ENV') || 'development').trim() === 'production' %>
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1" />
    <title><%= meta('title') %></title>
    <meta
      name="description"
      content="<%= meta('description') %>" />
    <link
      rel="stylesheet"
      href="<%= asset('/assets/style.css') %>" />
    <%- include('unocss-head.ejs', { isProduction }) %>
    <%- datastar.scripts() %>
    <%- slots.head %>
  </head>

  <body
    un-cloak>
    <main><%- slots.body || slot %></main>
  </body>
</html>
